<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274087100770-df5urm4imtusn737oe4r8d8mv88ajjbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274087100770-df5urm4imtusn737oe4r8d8mv88ajjbs</string>
	<key>API_KEY</key>
	<string>AIzaSyAthQQ4ofd4wjByDv3w6yHSt7mRJ5rZHNY</string>
	<key>GCM_SENDER_ID</key>
	<string>274087100770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exemple.app</string>
	<key>PROJECT_ID</key>
	<string>fluttermap01-335114</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermap01-335114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274087100770:ios:78673a61433b172b582c3b</string>
</dict>
</plist>